<div class="toolbar d-flex align-items-center bg-black">
  <img width="40" alt="Angular Logo"
  src="https://camo.githubusercontent.com/b8bd2eb64718bb28e047dfc2b065231938b8e574f7277cc1eec7dcf58f91250c/68747470733a2f2f74682e62696e672e636f6d2f74682f69642f522e37316131636636663365643631323862363539306531643266636466386165393f72696b3d4854754a70504139334c786e5177267069643d496d6752617726723d30" />
  <span>Welcome to my website | Bienvenido a mi sitio</span>
  <a class="ms-auto p-2" target="_blank"
  rel="noopener" href="https://github.com/{{username}}
  " title="GitHub">
  <i class="bi-github"></i>
  </a>
  </div>

  <div class="content d-flex flex-column">
    <div class="row">
    <div class="col-sm-3">
      <app-personal-info></app-personal-info>
    </div>
    <div class="col-sm-9">
    <div class="row">
    <div class="col-12 col-sm-12">
      <app-repositories></app-repositories>
    </div>
    </div>
    <div class="row">
    <div class="col-12 col-sm-12">
      <app-organizations></app-organizations>
    </div>
    </div>
    </div>
    </div>
    </div>